.chip{
    display: flex;
    gap:10px;
    align-items: center;
    padding:4px 8px;
    border-radius: 40px;
    font-size:14px;
    color:#fff;
    background-color: grey;
    width:fit-content;
}

/*For Chip's icon*/
.chip svg{
    height:16px;
    width:16px;
    cursor:pointer;
}